@import ../../../styles

.list
  height: 100%
  background: url(../../../assets/background.jpg) no-repeat center fixed
  -webkit-background-size: cover
  background-size: cover

.container
  padding: 5vh

.title
  color: white
  font-size: 3em
  font-weight: bold

.done-icon
  cursor: pointer
  font-size: 1.75em

.edit-icon
  cursor: pointer
  font-size: 0.75em

.edit-todo-icon
  cursor: pointer
  font-size: 1.75em

.done-link
  color: black

.done-link:hover
  color: $secondary

.todo-card
  text-align: center
  margin: 25px
  width: auto

.todo-card-validated
  background-color: green
  color: red

.add-button-column
  text-align: center

.add-button
  top: 40%
  position: relative
  cursor: pointer
  font-size: 2em
  color: white

.add-button:hover
  color: $secondary

.list-name-input
  width: auto
