@import ../../../styles

.list
  height: 100%
  background: url(../../../assets/background.jpg) no-repeat center fixed
  -webkit-background-size: cover
  background-size: cover

.container
  padding: 5vh

.title
  color: white
  font-size: 3em
  font-weight: bold

.settings-icon
  cursor: pointer
  font-size: 0.75em
  margin-left: 25px

.settings-subtitle
  color: black

.add-button-column
  text-align: center

.add-button
  top: 40%
  position: relative
  cursor: pointer
  font-size: 2em
  color: white

.add-button:hover
  color: $secondary

.list-name-input
  width: auto
