<div class="list">
  <div class="container" *ngIf="listService.selectedList != null">
    <h1 class="title">{{listService.selectedList.name}}
      <span class="icon settings-icon" (click)="listService.selectedList.settings = true">
        <i class="fas fa-cog"></i>
      </span>
    </h1>

    <div class="columns is-multiline">
      <div class="column is-one-third" *ngFor="let todo of listService.selectedList.todos ; let i = index">
        <app-todo [todo]="todo" [index]="i"></app-todo>
      </div>

      <div class="column is-one-third add-button-column" *ngIf="listService.selectedList != null">
        <span class="icon add-button" (click)="addTODO()">
          <i class="fas fa-plus-circle"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listService.selectedList != null">
  <div class="modal" [ngClass]="{'is-active': listService.selectedList.settings}" *ngIf="listService.selectedList.settings">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h1 class="subtitle">List settings</h1>
      </header>
      <section class="modal-card-body">
        <h1 class="subtitle settings-subtitle">Edit title</h1>
        <input class="input list-name-input"
                value={{listService.selectedList.name}}
                [(ngModel)]="listService.selectedList.name" />

        <h1 class="subtitle settings-subtitle">Danger zone</h1>
        <button class="button is-danger" (click)="listService.deleteList()">Delete list</button>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="listService.selectedList.settings = false">Close</button>
      </footer>
    </div>
  </div>  
</div>
